@model int
<div class="text-center">
    <h1 class="text-info pt-4">Congratulations!</h1>
    <h4 lcass="text-warning pb-3">Order ID - @Model</h4>
    <a asp-controller="Home" asp-action="Index" class="text-info">Back to Home</a>

</div>
